<style type="text/css">
  .reveal .mini { font-size: 50%; }
  .reveal .url { text-transform: lowercase; }

  .reveal section img {
    background: none;
    border: none;
    box-shadow: none;
  }

  .reveal iframe {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
  }
  .reveal #left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
  }

  .reveal #right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
  }
</style>
